<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search | Self-Service Portal</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/global.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/search.css') }}">
</head>
<body>
  <header class="header">
    
    {% if is_admin %}
      <a href="xx.html" class="icon-button">
        <i class="fas fa-plus"></i>
      </a>
    {% endif %}
    <a href="{{ url_for('user_blueprint.profile') }}" class="icon-button">
      <i class="fas fa-user"></i>
    </a>
  </header>

  <main class="main-content">
    {% include "includes/_flashmsg.html" %}
    <div class="logo-container">
      <img src="{{ url_for('static', filename='images/logo.png') }}" 
           alt="Accessforge-Logo" 
           class="logo"
           title="Accessforge-Logo">
    </div>

    <form action="{{ url_for('search_blueprint.search') }}" method="POST" class="search-container">
      <select class="dropdown" name="search-type">
        <option value="group">Group</option>
        <option value="user">User</option>
      </select>
      <input type="text" 
             placeholder="Search..." 
             class="search-input"
             aria-label="Enter search term"
             name="search-input">
      <button type="submit" class="search-button">
        <i class="fas fa-search"></i>
      </button>
    </form>
  </main>

  <div class="logout-container">
    <a href="{{ url_for('users_blueprint.logout') }}" class="logout-link">
      <i class="fas fa-sign-out-alt"></i> Logout
    </a>
  </div>
</body>
</html>