{% extends "listing/listing_base.html" %}

{% block title %}Gruppenliste | Self-Service{% endblock %}

{% block extra_icon %}
<a href="{{ url_for('search_blueprint.shopping_cart') }}" class="icon-button">
  <i class="fas fa-shopping-cart"></i>
  {{ amount_groups }} groups
  </a>
</a>
{% endblock %}

{% block content %}
<div class="group-list">
  {% for group in groups %}
  <div class="list-item">
    <div class="item-content">
      <i class="fas fa-users item-icon"></i>
      <span>{{ group.name }}</span>
    </div>
    <a href="xx.html" class="icon-button">
      <i class="fas fa-plus"></i>
    </a>
  </div>
  {% endfor %}
</div>
{% endblock %}